{% extends "base.html" %}

{% block content %}
<p>Сайт був створений за допомогою фреймворку Django та бібліотек для нього. База даних реалізована на SQLite.</p>
<p>Я працював на тому, щоб сайт був максимально швидким і зручним для користувачів. Фреймворк Django був вибраний для створення надійного та безпечного веб-додатку, а база даних SQLite дозволяє ефективно зберігати та керувати інформацією.</p>
<p>Дизайн заснований на HTML, CSS і JS, які використовувалися для створення красивого і функціонального інтерфейсу користувача.</p>
<p>Якщо у вас є питання або пропозиції щодо покращення сайту, будь ласка, зв'яжіться зі мною за посиланнями знизу. Я буду радий почути вашу думку і допомогти вам у будь-яких питаннях.</p>
{% endblock %} 