.form-field {
    display: flex;
    align-items: center;
  }
  .form-field label {
    width: 200px;
    padding-right: 10px;
  }
  .form-field input {
    flex-grow: 1;
    box-sizing: border-box;
  }

  .alert-danger {
    color: rgb(240, 245, 215);
  }

  p {
    margin-bottom: 5px;
  }